{
  "presets": ["react-native"],
  "plugins": [["babel-plugin-root-import", { "rootPathPrefix: ": "~", "rootPathSuffix": "./src" }]],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-root-import",
        { "rootPathPrefix: ": "~", "rootPathSuffix": "./src" }
      ]
    }
  }
}
