<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1060522092669-r4nt0rklii5l9tt7veo7jc0649rjhnca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060522092669-r4nt0rklii5l9tt7veo7jc0649rjhnca</string>
	<key>API_KEY</key>
	<string>AIzaSyDTJRR4TAkNbusQGZY7R56JkqVLKBAuplw</string>
	<key>GCM_SENDER_ID</key>
	<string>1060522092669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Christakis.sesh</string>
	<key>PROJECT_ID</key>
	<string>sesh-550dd</string>
	<key>STORAGE_BUCKET</key>
	<string>sesh-550dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060522092669:ios:88295c3546a2c763</string>
	<key>DATABASE_URL</key>
	<string>https://sesh-550dd.firebaseio.com</string>
</dict>
</plist>